html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 8px; /* easy styling */
    background: rgb(2, 8, 22);
    color: rgba(241, 239, 239, 0.911)
}

body {
    margin: 0;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.logo {
    margin-right: 1rem;
}

.fixed-topbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: darkcyan;
}

.dropdown-btn {
    position: relative;
    background-color: inherit;
    border: none;
    width: 50px;
}

.drop-content {
    position: absolute;
    display: none;
    background-color: rgb(2, 8, 22);
    float: right;
    right: 0; /* prevents overflow of content */
    min-width: 100px;
    z-index: 5;
    border-bottom-left-radius: 10px;
}

.drop-content a {
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    color: rgba(241, 239, 239, 0.911);
}

.drop-content a:hover {
    color: darkcyan;
}

.drop-content a:active {
    background-color: royalblue;
}

.show-dropdown{
    display: block;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 0 1rem .5rem;
    background-color: darkcyan;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.balance {
    margin: 20px auto 0;
    align-self: flex-start;
    font-size: 2rem;
}

/* deposit/withdrawal/expenditure history */
.transactions-container {
    margin: 20px auto;
    width: 90%;
    height: 70px;
    overflow: scroll;
    border-radius: 5px;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-auto-rows:  auto;
    row-gap: 1px;
    background-color: rgb(156, 30, 30);
    text-align: center;
}

.cell {
    background-color: rgb(6, 116, 116);
}

.action-amount {
    text-align: left;
}

.green {
    color: rgb(32, 146, 32);
}

.red {
    color: rgb(156, 30, 30);
}

/* deposit and withdraw buttons */
.act-button {
    margin: 0 1rem;
    background-color: rgb(2, 8, 22);
    border: none;
    border-radius: 5px;
    padding: .8rem;
    color: whitesmoke;
}

.act-button i {
    margin-right: .5rem;
}

.transactions {
    margin-top: 50px;
}

.add {
    margin: 20px;
    padding: 1rem 2rem;
    font-size: 2rem;
}

.add i {
    margin-right: 1rem;
}

.dropdown-transact {
    background-color: grey;
    width: 80%;
    padding: 10px;
}

.plus-minus {
    background-color: rgb(156, 30, 30);
    width: 13%;
    padding: 2px 2px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.plus-minus-btn {
    background-color: rgba(241, 239, 239, 1);
    color: rgb(2, 8, 22);
    border-radius: 5px;
    width: 50%;
    text-align: center;
    transition: transform 0.2s;
}

.plus-minus:hover {
    background-color:rgb(32, 146, 32);
}

.plus-minus:hover .plus-minus-btn {
    transform: translateX(100%);
}