:root {
    --green: rgb(32, 146, 32);
    --red: rgb(156, 30, 30);
    --text-white: rgba(241, 239, 239, 0.911);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 8px; /* easy styling */
    background: rgb(2, 8, 22);
    color: var(--text-white);
}

body {
    margin: 0;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

.logo {
    margin-right: 1rem;
}

.fixed-topbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: darkcyan;
}

.dropdown-btn {
    position: relative;
    background-color: inherit;
    border: none;
    width: 50px;
    border: 1px solid rgba(0, 99, 99, 0.212);
    border-radius: 5px;
}

.drop-content {
    position: absolute;
    display: none;
    background-color: rgb(2, 8, 22);
    float: right;
    right: 0; /* prevents overflow of content */
    min-width: 100px;
    z-index: 5;
    border-bottom-left-radius: 10px;
}

.drop-content a {
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    color: var(--text-white);
}

.drop-content a:hover {
    color: darkcyan;
}

.drop-content a:active {
    background-color: royalblue;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 0 1rem .5rem;
    background-color: darkcyan;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.balance {
    margin: 20px auto 0;
    align-self: flex-start;
    font-size: 3rem;
}

/* deposit/withdrawal/expenditure history */
.transactions-container {
    margin: 20px auto;
    width: 90%;
    height: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.transactions-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-auto-rows:  auto;
    row-gap: 1px;
    background-color: rgb(1, 92, 92);
    text-align: left;
    user-select: none;
}

.cell {
    background-color: rgb(6, 116, 116);
}

.history-icon {
    margin-left: 2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
}

.action-type {
    margin-left: 1rem;
}

.action-amount {
    text-align: center;
}

.action-date {
    padding-right: 5rem;
    text-align: right;
}

.transactions {
    margin-top: 50px;
}

.act-button {
    margin: 20px;
    background-color: rgb(2, 8, 22);
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    color: var(--text-white);
    font-size: 2rem;
}

.act-button i {
    margin-right: 1rem;
}

.dropdown-form {
    display: none;
    background-color: rgb(6, 116, 116);
    width: 80%;
    padding: 3rem;
    margin-bottom: 10%;
}

.transact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 1rem;
    row-gap: 5rem;
    justify-content: space-around;
}

.plus-minus {
    display: inline-block;
    background-color: var(--red);
    width: 50%;
    padding: 2px 2px;
    border-radius: 5px;
    transition: background-color 0.2s;
    justify-self: center;
}

.plus-minus-btn {
    background-color: rgba(241, 239, 239, 1);
    color: rgb(2, 8, 22);
    border-radius: 5px;
    width: 50%;
    text-align: center;
    user-select: none;
    transition: transform 0.1s linear;
    transform: null;
}

.transact-amount {
    color: var(--red);
}

.transact-amount,
.transact-payee {
    font-size: 2.1rem;
    text-align: right;
    background-color: var(--text-white);
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.transaction-type {
    background-color: var(--text-white);
    border: none;
    text-align-last: center;
}

.date {
    text-align: center;
    font-family: inherit;
    background-color: var(--text-white);
    border: none;
}

.color-code {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-icon-container {
    background-color: var(--text-white);
    padding: 6px;
}

.color-icon {
    width: 15px;
    background-color: rgb(15, 15, 15);
    height: 15px;
    margin-right: 1rem;
    border-radius: 50%;
}

.color-select {
    background-color: var(--text-white);
    border: none;
    text-align-last: center;
    padding: 5px;
}

.cancel-submit {
    width: 70%;
    justify-self: center;
    background-color: var(--text-white);
    border: none;
}

.cancel-submit:hover {
    background-color: var(--red);
    color: var(--text-white);
}

.submit-form {
    width: 70%;
    justify-self: center;
    padding: 5px;
    border: none;
}

.submit-form:hover {
    background-color: var(--green);
}

.show-dropdown{
    display: block;
}

.extra-margin {
    margin: 5rem 0;
}

@media (min-width: 360px) {
    .transact-container {
        grid-template-columns: 1fr 2fr;
    }
}

@media (min-width: 600px) {
    main {
        display: flex;
        justify-content: center;
    }

    .main-container {
        width: 650px;
    }
}